body{font:12px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
h2 {font-family: 'Droid Serif', Georgia, arial, serif; margin:0; font-size:18px;}
.year {color:#F2583E; font-weight:700;}

/* set margins */
h2, h3, p { margin:5px 0;}

/* field styling */
ul.fields {list-style-type:none; margin:0; padding:0;}
ul.fields li {margin:2px 2px; padding:2px;text-transform:uppercase;}

/* field icons */
ul.fields span.ui-icon {float:left; margin-right:4px; cursor:pointer;}

/* ui interaction styling */
ul#selected-fields li {cursor:move;}
#selected-fields .ui-icon-plus,
#available-fields .ui-icon-close {display:none;}
